body {
    margin: 0;
    padding: 0;
}

header {

}

.navbar {
    width: 100%;
    display: flex;
    height: 75px;
    justify-content: space-between;
    background-color: white;
}

.logo-placeholder {
    padding: 12px;
}
.my-logo {
    content: url(./images/SuperMarioRunLogo.png);
    height: 50px;
}

.menu-icon-placeholder {
    display: flex;
    align-items: center;
    padding: 15px;
}
.menu-button {
    content: url(./images/menuIcon.png);
    width: 25px;
    height: 25px;
}

#introduction {
    background: url(./images/BackgroundImage.jpg);
    background-size: contain;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mini-title {
    font-family: lato, sans-serif;
    font-size: 18px;
    color: #ec5242;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 15px;
}

.title {
    font-family: cocogoose, sans-serif;
    font-weight: 400;
    font-size: 37px;
    color: #ec5242;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.event-description {
    font-family: lato, sans-serif;
    line-height: 25px;
    background-color: whitesmoke;
    color: #272a31;
    padding: 15px;
    margin: 10px;
    border: #fff solid;
}

.event-date {
    font-family: cocogoose, sans-serif;
    font-weight: 300;
    color: #272a31;
    margin-left: 10px;
    margin-bottom: 0;
}

.event-place {
    font-family: lato, sans-serif;
    margin-left: 10px;
    color: #272a31;
    margin-top: 3px;
}

#main-prgram {
    width: 100%;
    height: auto;
    background: url(./images/patternBackground.png);
    background-color: #272a31;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.divisor {
    border: 1px solid #ec5242;
    width: 30px;
}

.activities {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:15px;
}

.activity {
    display: flex;
    width: 94%; 
    height: 100px;
    background: rgb(211, 211, 211, 0.1);
    padding: 10px;
    gap: 25px;
    align-items: center;
}

.activity-icon1 {
    content: url(./images/PowerUpsIcon.png);
    width: 30%;
    height: 70%;
}

.activity-icon2 {
    content: url(./images/BlockIcon.png);
    width: 30%;
    height: 70%;
}

.activity-icon3 {
    content: url(./images/EnemyIcon.png);
    width: 30%;
    height: 70%;
}

.activity-icon4 {
    content: url(./images/LevelsIcon.png);
    width: 30%;
    height: 70%;
}

.activity-icon5 {
    content: url(./images/BowserIcon.png);
    width: 30%;
    height: 70%;
}

.program-tittle {
    color: #d3d3d3;
    margin-bottom: 5px;
}

.activity-title {
    color: #ec5242;
    flex: 1 0 25%;
}

.activity-description {
    color: #d3d3d3;
    font-size: 14px;
    line-height: 20px;
}

.join-button {
    color:white;
    background-color: #ec5242;
    border-style: none;
    width: 300px;
    height: 70px;
    margin-bottom: 35px;
}